@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Quattrocento:400,700|Roboto+Slab:400");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Arvo:400,400i,700,700i&display=swap");
body #main-content li {
  padding-bottom: 0.5em; }
body #main-content .container {
  margin-top: 1.5rem;
  margin-bottom: 1rem; }
body #main-content .btn {
  font-family: "Oswald", sans-serif; }
body #main-content .btn.btn-ribbon.lp {
  margin-bottom: 0;
  padding: 8px 12px; }
body #main-content .lp-section-head {
  text-transform: uppercase;
  padding: 10px;
  color: #FFFFFF;
  background-color: #77216F;
  font-family: "Arvo", sans-serif; }
body #main-content .intro {
  font-size: 1.25rem;
  line-height: 1.75rem; }
body #main-content .sidebar {
  margin-bottom: 0.75em;
  margin-top: 0.5em; }
  @media screen and (min-width: 768px) {
    body #main-content .sidebar {
      margin-top: 0;
      margin-bottom: 1.5em; } }
  body #main-content .sidebar .dashboard-wrapper .row.item-row {
    margin: 0;
    flex-direction: column; }
    body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      margin-bottom: 0; }
      body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 .item {
        margin: 0;
        padding: 5px 15px; }
        @media screen and (min-width: 768px) {
          body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 .item {
            margin: 5px;
            padding: 15px; } }
      body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 a .icon-wrapper.item.ecu-purple.link-wrap {
        justify-content: flex-start; }
        body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 a .icon-wrapper.item.ecu-purple.link-wrap:hover {
          background-color: #572C86; }
        body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 a .icon-wrapper.item.ecu-purple.link-wrap span {
          display: none; }
        body #main-content .sidebar .dashboard-wrapper .row.item-row .dashboard-item.col-12.col-sm-6.col-lg-4 a .icon-wrapper.item.ecu-purple.link-wrap p.ecu-h2 {
          font-size: 1em !important;
          font-family: "Oswald", sans-serif;
          line-height: auto;
          padding: 0;
          margin: 0; }

body #main-content #lp-nav {
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    body #main-content #lp-nav {
      background-color: #572C86;
      position: sticky;
      top: 117px;
      z-index: 1019; } }
  @media screen and (min-width: 992px) {
    body #main-content #lp-nav {
      top: 153px; } }
  @media screen and (min-width: 1200px) {
    body #main-content #lp-nav {
      top: 129px; } }
  body #main-content #lp-nav .container {
    margin: 0 auto; }
    body #main-content #lp-nav .container ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      background-color: #572C86;
      margin-top: 1.5em; }
      @media screen and (min-width: 768px) {
        body #main-content #lp-nav .container ul {
          background-color: none;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 0;
          margin-left: -15px; } }
      body #main-content #lp-nav .container ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        padding-bottom: 0; }
        @media screen and (min-width: 768px) {
          body #main-content #lp-nav .container ul li {
            border-bottom: none;
            box-shadow: none; } }
        body #main-content #lp-nav .container ul li a {
          color: #FFFFFF;
          font-family: "Oswald", sans-serif;
          transition: color 0.2s;
          font-size: 1rem;
          border: 0 !important;
          padding: 10px 15px;
          display: block; }
          @media screen and (min-width: 768px) {
            body #main-content #lp-nav .container ul li a {
              padding: 17px 16px; } }
          body #main-content #lp-nav .container ul li a:hover {
            background-color: #41215E; }

#main-content #main p.small {
  font-size: 80%;
  font-weight: normal;
  line-height: 1.6; }
#main-content #main img.aligncenter {
  display: none; }
  @media screen and (min-width: 576px) {
    #main-content #main img.aligncenter {
      display: block;
      margin: 1.5em auto; } }
@media screen and (min-width: 576px) {
  #main-content #main #white-coat, #main-content #main #naturalized, #main-content #main #cupola {
    background-size: cover;
    height: 14em; } }
@media screen and (min-width: 992px) {
  #main-content #main #white-coat, #main-content #main #naturalized, #main-content #main #cupola {
    height: 100%; } }
@media screen and (min-width: 576px) {
  #main-content #main #white-coat {
    background-image: url("https://chancellorsearch.ecu.edu/wp-content/pv-uploads/sites/237/2020/02/White_Coat_Interns-9.jpg");
    background-position: center; } }
@media screen and (min-width: 992px) {
  #main-content #main #white-coat {
    background-position: 65% center; } }
@media screen and (min-width: 576px) {
  #main-content #main #naturalized {
    background-image: url("https://chancellorsearch.ecu.edu/wp-content/pv-uploads/sites/237/2020/02/Naturalization_ECHI-15.jpg");
    background-position: center 25%; } }
@media screen and (min-width: 992px) {
  #main-content #main #naturalized {
    background-position: center; } }
@media screen and (min-width: 576px) {
  #main-content #main #cupola {
    background-image: url("https://chancellorsearch.ecu.edu/wp-content/pv-uploads/sites/237/2020/02/Admissions_Photos-4380.jpg");
    background-position: center 48%; } }
@media screen and (min-width: 992px) {
  #main-content #main #cupola {
    background-position: center; } }

/*# sourceMappingURL=styles.css.map */
